@font-face {
    font-family: 'Raleway';
    src: url(./Assets/Raleway/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(./Assets/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(./Assets/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans Lighter';
    src: url(./Assets/OpenSans/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'Roboto Lighter';
    src: url(./Assets/Roboto/Roboto-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
}

.topbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #4D4D4D;
    padding: 0.5% 0;
}

.topbar-left{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#topbar-left-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: White;
    margin-left: 20px;
}

.topbar-right{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

#topbar-right-img{
    width: 2%;
    margin-right: 1%;
    cursor: pointer;
    transition: 0.5s;
}

#topbar-right-img:hover{
    width: 2.75%;
    transition: 0.5s;
}

.navbar{
    width: 100%;
    background-color: White;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75% 0;
}

.navbar-left{
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.navbar-right{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

#logo{
    width: 15%;
}

h1{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

.navbar-right a{
    text-decoration: none;
    color: Black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem;
    transition: 0.5s;
}

.navbar-right a:hover{
    color: #0b6359;
    transition: 0.5s;
}

.about{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 6% 0;
    background-image: linear-gradient(to bottom, rgba(1, 14, 22, 0.85), rgba(1, 13, 17, 0.93)), url(./Assets/shikshadeep_4.jpeg);
    background-repeat: round;
    background-size: cover;
}

.about-left{
    width: 40%;
    display: flex;
    flex-direction: row;
    padding: 0 2%;
}

#about-img{
    width: 100%;
    border-radius: 0.65rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.73);
}

.about-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0 2.5%;
}

#about-right-title{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    color: White;
}

.about-right-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: White;
    text-align: justify;
    line-height: 1.67rem;
}

.maps{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    gap: 1rem;
    background-color: #D6F5F1;
}

.maps-left{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

.maps-right{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 2%;
}

#embedded-map{
    width: 100%;
    height: 80%;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.73);
}

#maps-right-title{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    color: #0b6359;
}

#maps-right-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem;
    color: #0b6359;
    text-align: justify;
}

.maps-right-img-box{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.maps-right-img{
    width: 30%;
    box-shadow: 0 0 0.35rem rgba(0, 0, 0, 0.73);
}

footer{
    background-color: #4D4D4D;
    padding: 1% 2%;
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: White;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}