@font-face {
    font-family: 'Raleway';
    src: url(./assets/Raleway/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(./assets/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(./assets/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans Lighter';
    src: url(./assets/OpenSans/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'Roboto Lighter';
    src: url(./assets/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto Bolder';
    src: url(./assets/Roboto/Roboto-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
}

.topbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #4D4D4D;
    padding: 0.5% 0;
}

.topbar-left{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#topbar-left-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: White;
    margin-left: 20px;
}

.topbar-right{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

#topbar-right-img{
    width: 2%;
    margin-right: 1%;
    cursor: pointer;
    transition: 0.5s;
}

#topbar-right-img:hover{
    width: 2.75%;
    transition: 0.5s;
}

.navbar{
    width: 100%;
    background-color: White;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75% 0;
}

.navbar-left{
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.navbar-right{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

#logo{
    width: 15%;
}

h1{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

.navbar-right a{
    text-decoration: none;
    color: Black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem;
    transition: 0.5s;
}

.navbar-right a:hover{
    color: #0b6359;
    transition: 0.5s;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(1, 14, 22, 0.85), rgba(1, 13, 17, 0.93)), url(./assets/shikshadeep_4.jpeg);
    background-repeat: round;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

#main-title{
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    color: White;
    opacity: 0;
    transform: translateY(70%);
    transition: opacity 0.5s ease, transform 1s ease;
}

#main-title.show{
    opacity: 1;
    transform: translateY(0);
}

#main-subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.45rem;
    color: White;
    opacity: 0;
    transform: translateY(70%);
    transition: opacity 0.5s ease, transform 1s ease;
}

#main-subtitle.show{
    opacity: 1;
    transform: translateY(0);
}

#main-btn{
    width: 10rem;
    height: 2.75rem;
    font-size: 1.15rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #32DBC6;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(70%);
    transition: opacity 0.5s ease, transform 1s ease;
}

#main-btn.show{
    opacity: 1;
    transform: translateY(0);
}

#main-btn:hover{
    /*background-color: #0c534b;*/
    color: White;
    transition: 0.5s;
    background-color: rgba(12, 83, 75, 0.1);
    border: 0.05rem solid #00695d;
}

.achievement{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 5% 0;
    background: linear-gradient(to bottom, rgba(1, 14, 22, 0.85), rgba(1, 13, 17, 0.93)), url(./assets/stock_img.png);;
    background-repeat: round;
    background-size: cover;
}

.achievement-box{
    width: 21%;
    display: flex;
    flex-direction: row;
    gap: 0.65rem;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s ease, transform 3.3s ease;
}

.achievement-box.show{
    opacity: 1;
    transform: scale(1);
}

.achievement-img{
    width: 25%;
}

.achievement-text-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
}

.achievement-text-box-title{
    font-family: 'Roboto Bolder', sans-serif;
    font-size: 2.5rem;
    color: White;
}

.achievement-text-box-subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: White;
}

@keyframes countup {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.offer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    background-color: #f8f8f8;
}

.offer-left{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#offer-left-img{
    width: 94%;
}

.offer-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3%;
    background-color: #f8f8f8;
    gap: 1rem;
}

#offer-right-subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #00695d;
}

#offer-right-title{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.offer-box-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.offer-box{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    background-color: White;
    gap: 0.75rem;
    opacity: 0;
    transform: translateX(-30%);
    transition: opacity 0.5s ease, transform 1s ease;
    transition: 0.5s;
    cursor: default;
}

.offer-box.show{
    opacity: 1;
    transform: translateX(0);
}

.offer-box:hover{
    background-color: #00695d;
    color: White;
    transition: 0.5s;
}

.offer-box-title{
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    font-weight: 600;
}

.offer-box-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.secondary{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 7% 0;
    background-color: #f8f8f8;
}

.secondary-left{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 4%;
}

#secondary-img{
    width: 100%;
    border-radius: 0.65rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.secondary-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding-right: 4%;
}

#secondary-right-title{
    font-family: 'Raleway', sans-serif;
    font-size: 2.75rem;
    color: #117569;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 1s ease, transform 1s ease;
}

#secondary-right-title.show{
    opacity: 1;
    transform: translateY(0);
}

#secondary-right-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    text-align: justify;
    line-height: 2rem;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 1s ease, transform 1s ease;
}

#secondary-right-text.show{
    opacity: 1;
    transform: translateY(0);
}

#secondary-link{
    width: 14rem;
    background: none;
    border: none;
    color: #00695d;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    cursor: pointer;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 1s ease, transform 1s ease;
}

#secondary-link.show{
    opacity: 1;
    transform: translateY(0);
}

#secondary-link:hover{
    color: #000000;
    text-decoration: underline;
    transition: 0.5s;
}

.principal-sir{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7% 0;
    background-image: linear-gradient(to bottom, rgba(1, 14, 22, 0.85), rgba(1, 13, 17, 0.93)), url(./assets/shikshadeep_2.jpg);
    background-repeat: round;
    background-size: cover;
    gap: 3rem;
}

#principal-sir-title{
    color: #32DBC6;
    font-family: 'Raleway', sans-serif;
    font-size: 2.75rem;
}

.message-box{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.75rem;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 0.5s ease, transform 1s ease;
}

.message-box.show{
    opacity: 1;
    transform: translateY(0);
}

.message-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.23rem;
}

.message{
    font-family: 'Roboto Lighter', sans-serif;
    font-style: italic;
    font-size: 1.15rem;
    color: White;
    text-align: justify;
    line-height: 1.76rem;
}

#principal-sir-img{
    width: 20%;
    border-radius: 50%;
    border: 0.15rem solid #32DBC6;
}

.programs{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7% 0;
    gap: 3rem;
    background-color: #f8f8f8;
}

#programs-title{
    font-family: 'Raleway', sans-serif;
    font-size: 2.75rem;
    color: #0c534b;
}

.programs-cards-container{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.3rem;
}

.programs-card{
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
    background-color: White;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.3);
    gap: 1rem;
    transition: 0.5s;
    cursor: default;
    text-align: center;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 1s ease, transform 1.6s ease;
}

.programs-card.show{
    opacity: 1;
    transform: scale(1);
}

.programs-card:hover{
    transform: scale(1.02);
    transition: 0.5s;
}

.programs-img{
    width: 75%;
    height: 40%;
    border-radius: 50%;
    border: 0.15rem solid #D6F5F1;
}

.programs-card-title{
    font-family: 'Raleway', sans-serif;
    font-size: 1.35rem;
    color: #083D37;
}

.programs-card-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #083D37;
    font-weight: 600;
}

.sports{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7% 0;
    background: linear-gradient(to bottom, rgba(1, 14, 22, 0.85), rgba(1, 13, 17, 0.93)), url(./assets/sports.jpg);
    background-repeat: round;
    background-size: cover;
    gap: 1.05rem;
}

#sports-title{
    font-family: 'Raleway', sans-serif;
    font-size: 2.75rem;
    color: White;
}

#sports-subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: White;
}

.sports-box{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3% 2%;
    gap: 2rem;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 1s ease, transform 2s ease;
}

.sports-box.show{
    opacity: 1;
    transform: translateY(0);
}

.sports-box-img{
    width: 17%;
    border-radius: 50%;
    border: 0.25rem solid #32DBC6;
}

.sports-box-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.sports-box-headline{
    font-size: 1.75rem;
    font-family: 'Raleway', sans-serif;
    color: #70ebdc;
}

.sports-box-description{
    font-size: 1.15rem;
    font-family: 'Open Sans', sans-serif;
    color: White;
    text-align: justify;
}

.team{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
    gap: 1.3rem;
    background-color: #f8f8f8;
}

#team-title{
    font-family: 'Raleway', sans-serif;
    font-size: 2.75rem;
    color: #083D37;
}

#team-subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.35rem;
    color: #083D37;
}

.team-box-container{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 1%;
    gap: 2.3rem;
}

.team-box{
    width: 23%;
    height: 90%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: scale(0);
    transition: opacity 1s ease, transform 2s ease;
}

.team-box.show{
    opacity: 1;
    transform: scale(1);
}

.team-box-img{
    width: 100%;
    height: 90%;
}

.team-box-text{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: White;
    padding: 3% 0;
}

.team-box-name{
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    color: Black;
}

.team-box-description{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(37, 37, 37);
}

.quote{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
}

#quote-text{
    font-size: 1.05rem;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.sitemap-footer {
    background-color: #222;
    color: #fff;
    padding: 2% 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-links, .footer-contact {
    flex-basis: 45%;
    margin-bottom: 2%;
}

.footer-links h3, .footer-contact h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 3px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #007bff;
}

.footer-contact p {
    margin-bottom: 3px;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}
